@import '../../../variables.scss';

.sidebar-selection-panel-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 120px;

  &_without-selection {
    color: $color-middle-green;
  }
}
