@import '../../variables.scss';
@import '../Controls/FormControls.variables.scss';

.pagination-item {
  display: block;
  min-width: 30px;
  height: 30px;
  border: $border-width-thick solid $color-middle-green-50;
  border-radius: 5px;
  background-color: $color-light-green;
  margin: 3px;
  transition: $form-control-transition;

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    transition: $form-control-transition;
  }

  &:hover,
  &_selected {
    background-color: $color-dark-green;
  }

  &:hover > a,
  &_selected > a {
    color: $color-white;
  }

  &_disabled {
    border-color: $color-middle-green-25;
    background-color: $color-light-green;
  }

  &_disabled > a {
    color: $color-middle-green-50;
  }

  &_selected,
  &_disabled {
    pointer-events: none;
  }
}
