@import '../../../variables.scss';
@import '../variables.scss';

.button {
  background-color: $color-light-green;
  padding: $control-padding;
  border: $control-border-width solid $color-middle-green-50;
  border-radius: $control-border-radius;
  text-align: center;
  transition: $control-transition;
  outline: none;
  cursor: pointer;
  width: 100%;

  &:disabled {
    cursor: default;
    border: $control-border-width solid $color-middle-green-25;
    color: $color-middle-green-25;
  }

  &:not(:disabled) {
    &:hover {
      background-color: $color-dark-green;
      border-color: $color-dark-green;
      color: $color-light-green;
    }

    &:focus {
      border-color: $color-middle-green;
      box-shadow: $control-box-shadow $color-middle-green;
    }
  }
}
