@import '../../../variables.scss';
@import '../variables.scss';

.checkbox-container {
  height: 20px;
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 20px;
  cursor: pointer;
  user-select: none;

  &_disabled {
    cursor: default;
  }

  &_labeled {
    padding-left: 30px;
  }

  &__label {
    font-size: 14px;
  }

  &__input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  // Custom checkbox icon
  &__checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: $color-light-green;
    border: 1.5px solid $color-middle-green-50;

    // Checkmark is hidden when not checked
    &:after {
      content: '';
      position: absolute;
      display: none;
    }
  }

  & &__input ~ &__checkmark {
    transition: $control-transition;
  }

  // Checkbox is hovered
  &:hover &__input ~ &__checkmark {
    border-color: $color-middle-green;
  }

  // Checkmark indicator styles
  & &__checkmark:after {
    top: 1px;
    left: 5px;
    width: 5px;
    height: 10px;
    border: solid $color-middle-green;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }

  & &__input:checked ~ &__checkmark:after {
    display: block;
  }

  & &__input:disabled ~ &__checkmark {
    border-color: $color-middle-green-25;
  }

  & &__input:disabled ~ &__label {
    color: $color-middle-green-50;
  }
}
