@import '../../variables.scss';
@import '../List/FDList.variables.scss';

.fd-pages-list-controls-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  border-top: $divider-border-width solid $color-middle-green;
  padding: 0px $nested-items-side-padding;
}
