@import '../../../variables.scss';
@import '../SidebarBlocks.variables.scss';

.sidebar-list-item {
  display: flex;
  justify-content: space-between;
  min-height: $list-item-height;
  height: $list-item-height;
  border-bottom: $divider-border-width solid $color-middle-green;

  &_selected {
    background-color: $color-dark-green;
  }

  &_editable {
    display: flex;
    align-items: center;
    padding: $nested-items-padding-top-bottom $nested-items-padding-left-right;
  }

  &:last-child {
    border-bottom: none;
  }
}
