@import '../../../variables.scss';
@import '../SidebarBlocks.variables.scss';

.sidebar-list-item {
  display: flex;
  min-height: $list-item-height;
  height: $list-item-height;
  transition: 0.2s;
  border-bottom: $divider-border-width solid $color-middle-green;

  &_selected {
    background-color: $color-dark-green;

    &:hover {
      border-left: $active-item-border-width solid $color-white;
    }
  }

  &_editable {
    display: flex;
    align-items: center;
    padding: $nested-items-padding-top-bottom $nested-items-padding-left-right $nested-items-padding-top-bottom
      $nested-items-padding-left-right - $active-item-border-width;
  }

  &:last-child {
    border-bottom: none;
  }
}
