version: "3.4"

networks:
    food-diary-server-network:
        driver: bridge
services:
    food-diary-client:
        image: pkirilin/food-diary-client:latest
        ports:
            - "3000:3000"
        networks:
            - food-diary-server-network

    food-diary-server:
        image: pkirilin/food-diary-server:latest
        depends_on:
            - "food-diary-db"
        ports:
            - "5000:5000"
        networks:
            - food-diary-server-network
        environment:
            ASPNETCORE_URLS: "http://+:5000"
            ASPNETCORE_ENVIRONMENT: "Staging"

    food-diary-db:
        image: postgres:12.2-alpine
        ports:
            - "5432"
        restart: always
        volumes:
            - food-diary-db-volume:/var/lib/postgresql/data
        environment:
            POSTGRES_USER: "postgres"
            POSTGRES_PASSWORD: "postgres"
            POSTGRES_DB: "FoodDiaryDatabase"
        networks:
            - food-diary-server-network
volumes:
    food-diary-db-volume:
