@import '../../../variables.scss';
@import '../../__ui__/controls.variables.scss';

.pagination-item {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 30px;
  height: 30px;
  border: $border-width-thick solid $color-middle-green-50;
  border-radius: 5px;
  background-color: $color-light-green;
  margin: 3px;
  transition: $control-transition;
  cursor: pointer;

  &:hover,
  &_selected {
    background-color: $color-dark-green;
    color: $color-white;
  }

  &_disabled {
    border-color: $color-middle-green-25;
    background-color: $color-light-green;
    color: $color-middle-green-50;
  }

  &_selected,
  &_disabled {
    pointer-events: none;
  }
}
