@import '../../../variables.scss';
@import '../FormControls.variables.scss';

.dropdown-item {
  padding: $form-control-padding;
  transition: 0.2s;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;

  &:hover,
  &_active {
    background-color: $color-light-green;
  }
}
