@import '../../../variables.scss';

.loader-container {
  display: inline-flex;
  align-items: center;

  &__loader {
    stroke: $color-middle-green;
    stroke-width: 7;

    &_small {
      width: 20px;
      height: 20px;
    }

    &_medium {
      width: 40px;
      height: 40px;
    }

    &_large {
      width: 60px;
      height: 60px;
    }
  }

  &__label {
    margin-left: 10px;

    &_small {
      font-size: 12px;
    }
    &_medium {
      font-size: 14px;
    }
    &_large {
      font-size: 16px;
    }
  }
}
