@import '../../variables.scss';

$navbar-height: 60px;
$navbar-z-index: 100;
$navbar-link-border-width: $border-width-navigation;
$navbar-link-padding: 20px;
$navbar-links-width: 400px;
$navbar-hover-transition: $transition-slow;
$navbar-brand-logo-size: 50px;
