@import '../../variables.scss';
@import '../Navbar/Navbar.variables.scss';

.navbar-brand {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: $sidebar-width;

  &__logo {
    display: inline-block;
    background-size: cover;
    width: $navbar-brand-logo-size;
    height: $navbar-brand-logo-size;
    mask: url('diet.svg');
    background: $color-middle-green;

    transition: $navbar-hover-transition;

    &:hover {
      background: $color-dark-green;
    }
  }

  & > a {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    color: $color-middle-green;

    transition: $navbar-hover-transition;

    &:hover {
      color: $color-dark-green;
    }
  }
}
