@import '../../variables.scss';
@import './Navbar.variables.scss';

.navbar {
  z-index: $navbar-z-index;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  height: $navbar-height;
  background-color: $color-light-green;
}
