@import '../../variables.scss';
@import './FDList.variables.scss';

.fd-list__item {
  border-left: $active-item-border-width solid transparent;
  border-bottom: $divider-border-width solid $color-middle-green;
  padding: 5px $nested-items-side-padding 5px $nested-items-side-padding - $active-item-border-width;
  transition: 0.2s;

  &:first-child {
    border-top: $divider-border-width solid $color-middle-green;
  }

  &:hover {
    border-left: $active-item-border-width solid $color-dark-green;
  }
}

.fd-list__item_selected {
  background-color: $color-dark-green;

  &:hover {
    border-left: $active-item-border-width solid $color-white;
  }
}
