@import '../SidebarBlocks.variables.scss';

.sidebar-control-panel-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $nested-items-padding-top-bottom $nested-items-padding-left-right;
}
