@import '../../../variables.scss';
@import '../SidebarBlocks.variables.scss';

.sidebar-control-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: $divider-border-width solid $color-middle-green;
  border-bottom: $divider-border-width solid $color-middle-green;
  height: 80px;
}
