@import '../../../variables.scss';
@import '../FormControls.variables.scss';
@import './Dropdown.variables.scss';

.dropdown {
  position: relative;

  &__toggler {
    display: flex;
    align-items: center;
    border: $form-control-border-width solid $color-middle-green-50;
    border-radius: $form-control-border-radius;
    background-color: $color-light-green;
    padding: $form-control-padding;
    cursor: pointer;
    transition: $form-control-transition;

    &:hover,
    &_active {
      border-color: $color-middle-green;
    }

    &__value {
      flex: 1;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &__icon {
      width: 10px;
      height: 10px;
      fill: $color-middle-green;
      margin-left: $form-control-padding;
    }
  }

  &__content {
    z-index: $dropdown-content-z-index;
    display: none;
    position: absolute;
    max-height: 400px;
    overflow: auto;
    border: $form-control-border-width solid $color-middle-green-50;
    background-color: $color-white;

    &_opened {
      display: block;
    }
  }
}
