@import '../../../variables.scss';

.sidebar__list__item__link {
  height: 28px;

  a {
    display: block;
    height: 100%;
    color: $color-dark-green;
    font-size: 16px;
    letter-spacing: 0.5px;
    text-decoration: none;
  }
}

.sidebar__list__item__link_selected {
  a {
    color: $color-white;
  }
}
