@import '../../../variables.scss';
@import '../SidebarBlocks.variables.scss';

.sidebar-list-item-link {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex: 1;
  height: 100%;
  text-decoration: none;
  border-left: $active-item-border-width solid transparent;
  padding: $nested-items-padding-top-bottom 0 $nested-items-padding-top-bottom $nested-items-padding-left-right -
    $active-item-border-width;

  & > * {
    color: $color-dark-green;
    font-size: 16px;
    letter-spacing: 0.5px;
  }

  &_selected {
    color: $color-white;
  }

  &_active,
  &:hover {
    border-left: $active-item-border-width solid $color-dark-green;
  }
}
