@import '../../../variables.scss';
@import '../controls.variables.scss';

.dropdown-item {
  transition: 0.2s;

  &,
  & > label {
    padding: $control-padding;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  & > label {
    display: block;
    margin: -$control-padding;
  }

  &:hover,
  &_active {
    background-color: $color-light-green;
  }
}
