@import '../../../variables.scss';
@import '../SidebarBlocks.variables.scss';

.sidebar-selection-panel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  border-bottom: $divider-border-width solid $color-middle-green;
  padding: $nested-items-padding-top-bottom $nested-items-padding-left-right;
}
