@import '../../variables.scss';

.page-content-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__date {
    font-size: 20px;
    font-weight: bold;
    color: $color-middle-green;
  }
}
