@import '../../variables.scss';

.icon-container {
  display: flex;
  align-items: center;

  &__label,
  &__icon {
    transition: 0.5s;
  }

  &__label {
    color: $color-middle-green;
    padding-right: 10px;

    &_disabled {
      color: $color-middle-green-50;
    }
  }

  &__icon {
    width: 20px;
    height: 20px;
    fill: $color-middle-green;

    &_disabled {
      fill: $color-middle-green-50;
    }

    &_small {
      width: 15px;
      height: 15px;
    }
  }

  &:hover {
    cursor: pointer;
  }

  &_disabled:hover {
    cursor: default;
  }

  &:hover > &__label {
    color: $color-dark-green;

    &_disabled {
      color: $color-middle-green-50;
    }
  }

  &:hover > &__icon {
    fill: $color-dark-green;

    &_disabled {
      fill: $color-middle-green-50;
    }
  }
}
