@import '../../variables.scss';

// Base styles for app icon
.icon {
  width: 20px;
  height: 20px;
  fill: $color-middle-green;
  transition: 0.5s;
  cursor: pointer;

  &_small {
    width: 15px;
    height: 15px;
  }

  &:hover {
    fill: $color-dark-green;
  }
}
