@import '../../../variables.scss';

.badge {
  font-size: 10px;
  font-weight: bold;
  color: $color-white;
  background-color: $color-dark-green;
  border-radius: 5px;
  padding: 2px 5px;
  max-width: 100px;

  &_selected {
    color: $color-dark-green;
    background-color: $color-light-green;
  }
}
