@import '../../variables.scss';

$control-padding: 8px;
$control-border-width: $border-width-thick;
$control-border-radius: $border-radius;
$control-transition: $transition-slow;
$control-box-shadow: 0 0 5px;
