@import '../../variables.scss';
@import '../Navbar/Navbar.variables.scss';
@import '../Sidebar/Sidebar.variables.scss';
@import '../ContainerBlocks/ContainerBlocks.variables.scss';
@import './PageContent.variables.scss';

.page-content {
  &__top-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;

    position: fixed;
    top: $navbar-height;
    right: 0;
    padding: 0 $section-container-padding;

    background-color: $color-light-green;
    border-top: $divider-border-width solid $color-middle-green;
    border-bottom: $divider-border-width solid $color-middle-green;

    width: calc(100% - #{$sidebar-width});
    height: $top-panel-height;

    z-index: $top-panel-z-index;
  }
}
