@import '../../variables.scss';
@import '../Navbar/Navbar.variables.scss';
@import './PageContent.variables.scss';

.page-content {
  &__top-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;

    position: fixed;
    top: $navbar-height;
    right: 0;
    padding: 0 $section-padding;

    background-color: $color-light-green;
    border-top: $divider-border-width solid $color-middle-green;
    border-bottom: $divider-border-width solid $color-middle-green;

    width: calc(100% - #{$sidebar-width});
    height: $top-panel-height;

    z-index: $top-panel-z-index;
  }

  &__preloader {
    position: fixed;
    top: 50%;
    left: calc(50% + 256px);
    transform: translate(calc(-50% - #{$sidebar-width / 2}), calc(-50% + #{$navbar-height / 2}));
    min-width: 220px;

    display: flex;
    justify-content: center;

    z-index: $preloader-z-index;
  }

  &__preloader + * {
    opacity: 0.2;
    pointer-events: none;
  }
}
