@import './variables.scss';
@import './components/Navbar/Navbar.variables.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: $color-dark-green;
}

aside {
  display: flex;
  flex-direction: column;
  position: fixed;
  height: calc(100vh - #{$navbar-height});
  overflow: none;
  width: $sidebar-width;
  background-color: $color-light-green;

  & + main {
    margin-left: $sidebar-width;
  }
}

main {
  margin-top: $navbar-height;
  background-color: $color-white;
}

section {
  padding: $section-padding;
}

h1 {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}
