$navbar-height: 60px;
$navbar-z-index: 10000;

$navbar-link-border-width: 5px;
$navbar-link-padding: 20px;
$navbar-links-width: 400px;

$navbar-hover-transition: 0.5s;

$navbar-brand-logo-size: 50px;
