@import '../../variables.scss';

$divider-border-width: $border-width-thin;

$active-item-border-width: 5px;

$nested-items-padding-left-right: 15px;
$nested-items-padding-top-bottom: 5px;

$list-item-height: 55px;
