@import '../../../variables.scss';
@import '../FormControls.variables.scss';
@import './Dropdown.variables.scss';

.dropdown {
  position: relative;

  &__toggler {
    display: flex;
    align-items: center;
    border: $form-control-border-width solid $color-middle-green-50;
    border-radius: $form-control-border-radius;
    padding: $form-control-padding;
    cursor: pointer;
    transition: $form-control-transition;

    &_small {
      height: 25px;
    }

    &_active {
      border-color: $color-middle-green;
      box-shadow: $form-control-box-shadow $color-middle-green;
    }

    &_disabled {
      border-color: $color-middle-green-25;
      box-shadow: none;
      cursor: default;
    }

    &__value {
      flex: 1;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      &_disabled {
        color: $color-middle-green;
      }

      &_placeholder {
        color: $color-middle-green-50;
      }

      &_placeholder-disabled {
        color: $color-middle-green-25;
      }
    }

    &__icon {
      width: 10px;
      height: 10px;
      fill: $color-middle-green;
      margin-left: $form-control-padding;

      &_disabled {
        fill: $color-middle-green-50;
      }
    }
  }

  &__content {
    z-index: $dropdown-content-z-index;
    display: none;
    position: absolute;
    max-height: 400px;
    overflow-y: auto;
    border: $form-control-border-width solid $color-middle-green-50;
    background-color: $color-white;

    &_opened {
      display: block;
    }

    &_right {
      right: 0;
    }
  }
}
