@import '../../../variables.scss';
@import '../FormControls.variables.scss';

input:disabled.input {
  background-color: transparent;
}

.input {
  width: 100%;
  padding: $form-control-padding;
  border: $form-control-border-width solid $color-middle-green-50;
  border-radius: $form-control-border-radius;
  transition: $form-control-transition;
  outline: none;

  &_small {
    height: 25px;
  }

  &:disabled {
    border: $form-control-border-width solid $color-middle-green-25;
    color: $color-middle-green-25;
  }

  &:focus {
    border-color: $color-middle-green;
    box-shadow: $form-control-box-shadow $color-middle-green;
  }

  &::placeholder {
    color: $color-middle-green-50;
  }
}
