@import '../../components/__ui__/controls.variables.scss';

.note-input {
  display: flex;
  align-items: flex-end;
  flex: 0.8;

  & > :not(:first-child) {
    margin-left: 10px;
  }

  & > &__loader {
    margin-left: 0px;
  }

  &__product {
    flex: 0.4;
  }

  &__quantity {
    flex: 0.2;
  }

  &__add {
    flex: 0.15;
  }

  &__loader {
    display: flex;
    justify-content: center;
    flex: 0.25;
    padding: $control-padding 0px;
  }
}
