@import '../SidebarBlocks.variables.scss';

.sidebar__control-panel__selection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px $nested-items-side-padding;
}
