@import '../../variables.scss';

// Base styles for app icon
.fd-icon {
  width: 25px;
  height: 25px;
  fill: $color-middle-green;
  transition: 0.5s;
  cursor: pointer;

  &:hover {
    fill: $color-dark-green;
  }
}
