@import '../../../variables.scss';

$cell-inner-padding: 5px;
$cell-height: 35px;
$cell-height-condensed: 25px;

$row-border-thickness: 0.5px;
$row-transition: $transition-slow;

@mixin set-cell-height($height) {
  thead {
    tr {
      td {
        height: $height;
      }
    }
  }

  tbody {
    tr {
      td {
        height: $height;
      }
    }
  }
}

.table {
  border-collapse: collapse;
  width: 100%;

  thead {
    background-color: $color-dark-green;

    tr {
      td {
        color: $color-light-green;
        padding: $cell-inner-padding;
      }
    }
  }

  tbody {
    tr {
      border-bottom: $row-border-thickness solid $color-middle-green;
      transition: $row-transition;

      td {
        padding: $cell-inner-padding;

        &.empty {
          color: $color-middle-green-50;
          text-align: center;
        }
      }
    }
  }

  @include set-cell-height($cell-height);

  &_condensed {
    @include set-cell-height($cell-height-condensed);
  }
}
