// Global variables

$color-dark-green: #28590c;
$color-middle-green: #62864e;
$color-middle-green-50: rgba($color-middle-green, 0.5);
$color-middle-green-25: rgba($color-middle-green, 0.25);
$color-light-green: #d7e0d2;
$color-white: #fefefd;

$sidebar-width: 256px;

$section-padding: 10px;

$border-width-thin: 0.5px;
$border-width-thick: 1px;
$border-width-navigation: 5px;
$border-radius: 5px;

$transition-fast: 0.2s;
$transition-slow: 0.5s;
