@import '../../../variables.scss';

$container-child-space-small: 5px;

@mixin child-space-margin($child-space-size) {
  :not(:first-child) {
    margin-left: $container-child-space-small;
  }
}

.container {
  display: flex;

  &_justify-center {
    justify-content: center;
  }

  &_align-center {
    align-items: center;
  }

  &_text-color-middle-green {
    color: $color-middle-green;
  }

  &_child-space-small {
    @include child-space-margin($container-child-space-small);
  }
}
