@import '../../../variables.scss';
@import '../SidebarBlocks.variables.scss';

.sidebar-operations-panel {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  border-bottom: $divider-border-width solid $color-middle-green;

  &_without-operation {
    color: $color-middle-green;
  }
}
