@import '../../../variables.scss';
@import '../SidebarBlocks.variables.scss';

.sidebar-list-item-link {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex: 1;
  height: 100%;
  text-decoration: none;
  border-left: $active-item-border-width solid transparent;
  padding: $nested-items-padding-top-bottom 0 $nested-items-padding-top-bottom $nested-items-padding-left-right -
    $active-item-border-width;
  transition: $transition-fast;

  & > :first-child {
    color: $color-dark-green;
    font-size: 16px;
    letter-spacing: 0.5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 175px;
  }

  &_narrow > :first-child {
    font-size: 14px;
    max-width: 175px;
    letter-spacing: normal;
  }

  &:hover {
    border-left: $active-item-border-width solid $color-dark-green;
  }

  &_selected {
    & > :first-child {
      color: $color-light-green;
    }

    &:hover {
      border-left: $active-item-border-width solid $color-light-green;
    }
  }

  &_active {
    border-left: $active-item-border-width solid $color-dark-green;
  }

  &_active-selected {
    border-left: $active-item-border-width solid $color-light-green;
  }
}
